[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
[submodule "dependencies/sdw-time"]
	path = dependencies/sdw-time
	url = https://github.com/w3c/sdw-time.git
	branch = gh-pages
